areas/fdungeon.exe
areas/fdungeon.pdb
areas/*.pid
areas/null.log
areas/start.log
areas/stdout.log
areas/stderr.log
areas/send_note.txt
areas/rom
areas/who.htm
log/*.log
log/notes.not
log/complain.not
log/bugreport.not
log/newspaper.not
log/offtopics.not
log/penal.not
mud/null.log
mud/*.o
mud/*.obj
mud/rom
mud/fdungeon.exe
mud/vc40.pdb
player/
